.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.not-found button{
    padding: 10px;
    border: none;
    background-color: rgb(174, 114, 2);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}